<link href='https://fonts.googleapis.com/css?family=Prompt' rel='stylesheet'>
<style>
    body

{

  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url("https://images.wallpaperscraft.com/image/mug_books_mood_128878_3840x2160.jpg");
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  height:36em;
  width:28em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  8px 8px 18px #e1e1e3, -8px -8px 18px #ffffff;
  box-shadow:  8px 8px 18px #04040eab, -8px -8px 18px #04040eab;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:24em;
  width:28em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://f.ptcdn.info/614/018/000/1399363672-2a-o.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}
.property-image1
{
  height:24em;
  width:28em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://cache.gmo2.sistacafe.com/images/uploads/summary/image/11468/Dollarphotoclub_82038235e.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}
.property-image2
{
  height:24em;
  width:28em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://phukhaopost.com/album/upload/02b7b987d109a134993d7250a5099c7e.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
font-family: 'Prompt';
  background-color: #FAFAFC;
  height:12em;
  width:28em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1.0em 2em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:36em;
}.property-card:hover .property-image1
{
  height:36em;
}
.property-card:hover .property-image2
{
  height:36em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;

}


/* Optional

.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}

*/
</style>




<div class="center">
    <div class="property-card">

      <a href="#">
        <div class="property-image">
          <div class="property-image-title">
            <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
          </div>
        </div></a>
      <div class="property-description">
        <h1> เมนูข้าว </h1>
        <p style="font-size: 18px;">ค้นหาร้านอาหารประเภทข้าวรอบๆตัวคุณ</p>
      </div>
      <a href="#">
        <div class="property-social-icons">
          <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
        </div>
      </a>
    </div>
    <div style="margin-left: 30px;">

    </div>
    <div class="property-card">
        <a href="#">
          <div class="property-image1">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
          <h1> เมนูเส้น </h1>
          <p style="font-size: 18px;">ค้นหาร้านอาหารประเภทเส้นรอบๆคุณ</p>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
      <div style="margin-left: 30px;">

    </div>
      <div class="property-card">
        <a href="#">
          <div class="property-image2">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
          <h1> เมนูเครื่องเดิม </h1>
          <p style="font-size: 18px;">ค้นหาร้านอาหารประเภทเครื่องดื่มรอบๆตัวคุณ</p>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
  </div>
