<div id="map" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-top:100px"></div>
<div style="text-align: center; margin-top: 20px;">
  <button (click)="rand()">Random</button>
</div>

<div>
  <mat-card class="example-card " style="top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 50px;">
    <mat-card-header>
      <mat-card-title><img src={{focusImg}}  width="240" height="150"></mat-card-title>
      <mat-card-subtitle>
        <h3>{{focusName}}</h3>
        <p>{{focusDes}}</p>

      </mat-card-subtitle>

    </mat-card-header>
  </mat-card>
</div>


